<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tính tổng</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1>Tính tổng</h1>
    <form method="POST">
      <div class="form-group">
        <label for="n1">Số thứ nhất</label>
        <input type="text" class="form-control" id="n1" name="n1" placeholder="Số thứ nhất">
      </div>
      <div class="form-group">
        <label for="n2">Số thứ hai</label>
        <input type="text" class="form-control" id="n2" name="n2" placeholder="Số thứ hai">
      </div>
      <button type="submit" class="btn btn-primary">Tính</button>
    </form>
  </div>
</body>
</html>